* {
  margin: 0;
}

header {
  grid-area: header;
  background-color: #21f3d4;
}

aside {
  grid-area: aside;
  background-color: #eaee7d;
}

main {
  grid-area: main;
  background-color: pink;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header header header header header"
    "aside main main main main main";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 250px 1fr;
  gap: 1px;
}

.container > header,
.container > main,
.container > aside {
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style: none;
}

.iniTaskBtn {
  display: flex;
  flex-direction: column;
}

.atbContainer {
  display: grid;
  grid-template-areas:
    "taskTextDate taskTextDate taskTextDate"
    "addTaskBtn cancelBtn .";
  gap: 10px;
  margin-top: 10px;
}

.taskTextDate {
  border: 1px solid grey;
  padding: 2px;
}

.addTaskBtn {
  grid-area: addTaskBtn;
}

.cancelBtn {
  grid-area: cancelBtn;
}

.datePicker {
  grid-area: datePicker;
}

.textArea {
  grid-area: textArea;
}

.taskTextDate {
  grid-area: taskTextDate;
}

/* Tasks List */

li {
  width: 700px;
  text-align: start;
  margin-bottom: 10px;
  padding: 5px 0px;
  font-size: 15px;
  vertical-align: middle;
  border-bottom: 1px solid silver;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

li:last-child {
  border-bottom: none;
}

input {
  vertical-align: middle;
}

#newCheckBox {
  margin: 0px 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p,
input,
button {
  cursor: pointer;
}

p {
  display: inline-block;
}

li .taskEditBtn {
  visibility: hidden;
  margin-left: 10px;
}

li:hover .taskEditBtn {
  visibility: visible;
  margin-left: 10px;
}

.taskTools {
  display: flex;
}

/* Aside */
.inbox-btn {
  width: 10rem;
  padding: 5px;
  text-align: start;
  background-color: #eaee7d;
  border: none;
}

.inbox-btn:hover {
  background-color: aliceblue;
}
