@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Poppins:wght@200&family=Roboto:wght@100;300&family=Water+Brush&display=swap");

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
  grid-area: header;
  background-color: #21f3d4;

  display: flex;
}

aside {
  grid-area: aside;
  background-color: #ddd;
}

main {
  grid-area: main;
  background-color: #eee;
}

.container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 70px 1fr;
  grid-template-columns: auto 1fr;
}

.container > main,
.container > aside {
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
}

header img {
  width: 30px;
  height: 30px;
}

header span {
  width: max-content;
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin: 15px 30px 15px 0px;
  margin-left: auto;
  letter-spacing: 3px;
}

header .menu-icon {
  margin: 15px 0px 15px 20px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style: none;
}

.list-header {
  margin-left: 50px;
  margin-bottom: 20px;
}

.iniTaskBtn {
  display: flex;
  flex-direction: column;
}

.atbContainer {
  display: grid;
  grid-template-areas:
    "taskTextDate taskTextDate taskTextDate"
    "addTaskBtn cancelBtn .";
  gap: 10px;
  margin-top: 10px;
}

.taskTextDate {
  border: 1px solid grey;
  padding: 2px;
}

.addTaskBtn {
  grid-area: addTaskBtn;
}

.cancelBtn {
  grid-area: cancelBtn;
}

.datePicker {
  grid-area: datePicker;
}

.textArea {
  grid-area: textArea;
}

.taskTextDate {
  grid-area: taskTextDate;
}

/* Tasks List */

li {
  width: 700px;
  text-align: start;
  margin-bottom: 10px;
  padding: 5px 0px;
  font-size: 15px;
  vertical-align: middle;
  border-bottom: 1px solid silver;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

li:last-child {
  border-bottom: none;
}

input {
  vertical-align: middle;
}

#newCheckBox {
  margin: 0px 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p,
input,
button {
  cursor: pointer;
}

p {
  display: inline-block;
}

li .taskEditBtn {
  visibility: hidden;
  margin-left: 10px;
}

li:hover .taskEditBtn {
  visibility: visible;
  margin-left: 10px;
}

.taskTools {
  display: flex;
}

/* Aside */

aside button {
  background-color: aliceblue;
  border-radius: 3px;
}

aside button:hover {
  background-color: #eaee7d;
}

.inbox-btn,
.today-btn,
.thisweek-btn {
  width: 10rem;
  padding: 5px;
  text-align: start;
  border: none;
}

.tabSelectedColor {
  background-color: #eaee7d;
}

aside .projects-task {
  padding: 5px 0px 5px 5px;
  border-radius: 3px;
}

/* Project Section */
.projects-heading h4 {
  margin: 20px 45px 10px 0;
}

.add-project-btn {
  width: 10rem;
  padding: 5px;
  text-align: start;
  border: none;
}

.projects-task-addBtn {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: #26ed49;
  padding: 5px 20px;
  border-radius: 5px;
}

.projects-task-cancelBtn {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: #ff5b5b;
  padding: 5px 20px;
  border-radius: 5px;
}

.projects-task-modal {
  display: grid;
  grid-template-areas:
    "projectsInput projectsInput"
    "projectsAddBtn projectsCancelBtn";
  gap: 10px;
}

.projects-task-input {
  grid-area: projectsInput;
}

.projects-task-addBtn {
  grid-area: projectsAddBtn;
}

.projects-task-cancelBtn {
  grid-area: projectsCancelBtn;
}

.projects-task {
  font-size: 15px;
  text-align: start;
  margin-left: 25px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.projects-task-cancel {
  visibility: hidden;
}

.projects-task:hover .projects-task-cancel {
  visibility: visible;
}

/* Hide Sidebar or Aside */
.hideSidebar {
  display: none;
}

aside {
  width: 250px;
}

/* Media queries */

@media (max-width: 650px) {
  body {
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
  }

  /* .container {
    display: flex;
    flex-direction: column;
  } */

  .list-header {
    margin-left: 0;
  }

  .list-container {
    padding-left: 0;
  }

  aside {
    display: none;
  }

  main {
    padding: 0;
  }

  .list-container ul {
    max-width: 365px;
  }

  .list-container li {
    max-width: 365px;

    display: flex;
    justify-content: space-between;
  }

  .taskDetails input,
  p {
    vertical-align: middle;
  }

  .taskDetails p {
    width: 200px;
  }

  textarea {
    width: 300px;
  }

  .taskTextDate {
    width: 310px;
  }

  .hideSidebar {
    display: block;
  }
}
